.career {
  position: relative;
  &-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(162rem, auto);
  }

  &-item {
    border-radius: 5px;
    padding: 27rem 10rem 10rem;
    position: relative;
    display: flex;
    flex-direction: column;
    &:hover {
      background-color: var(--text-gray);
      &::before, &::after {
        display: none;
      }
      h3 {
        color: #fff;
      }
      p {
        color: #C8C8C8B2;
      }
      .options-item {
        color: #fff;
        &.opened {
          color: #BBE0AE;
          background-color: #406D47;
        }
        &.closed {
          color: #FFE3D4; 
          background-color: #B03828;
        }
      }
    }
    &:before {
      content: '';
      position: absolute;
      bottom: 0;
      right: 14rem;
      left: 14rem;
      height: 1px;
      background-color: #C8C8C8B2;
    }
    &::after {
      content: '';
      position: absolute;
      right: 0;
      top: 14rem;
      bottom: 14rem;
      width: 1px;
      background-color: #C8C8C8B2;
    }
    &:nth-child(3n) {
      &::after {
        display: none;
      }
    }

    h3 {
      color: #21241F;
      font-weight: 800;
      font-size: 20rem;
      margin-bottom: 14rem;
      text-transform: uppercase;
      line-height: 90%;
    }
    p {
      color: #D0D0D0;
      font-size: 12rem;
      max-width: 300rem;
      flex: 1;
      &:before {
        content: '';
        display: inline-block;
        width: 20rem;
      }
    }

    &__options {
      margin-top: 10rem;
    }
  }



  @media screen and (max-width: 1199px) {
    //&-page {
    //  position: static;
    //  h2 {
    //    font-size: 70px;
    //  }
    //  &__body {
    //    column-gap: 10px;
    //  }
    //  &__options {
    //    margin-top: 22px;
    //    .options-item {
    //      height: 22px;
    //      font-size: 11.5px;
    //      padding: 0 10px;
    //      margin-right: 3px;
    //      border-radius: 20px;
    //    }
    //  }
    //}
  }

  @media screen and (max-width: 1025px) {
    &-list {
      grid-auto-rows: minmax(164px, auto);
    }

    &-item {
      padding: 27px 30px 15px 9.5px;
      h3 {
        font-size: 20px;
        margin-bottom: 13.5px;
      }
      p {
        font-size: 12px;
        max-width: 284px;
      }
      &__options {
        margin-top: 20px;
        .options-item {
          font-size: 7.95px;
          padding: 0 6px;
          height: 15px;
          border-radius: 15px;
        }
      }
    }

    &-page {
      

    }
  }

  @media screen and (max-width: 768px) {
    &-list {
      grid-template-columns: 1fr 1fr;
    }

    &-item {
      &:nth-child(3n) {
        &::after {
          content: '';
          display: block;
          position: absolute;
          right: 0;
          top: 14rem;
          bottom: 14rem;
          width: 1rem;
          background-color: #C8C8C8B2;
        }
      }
      &:nth-child(2n), &:nth-child(6n) {
        &::after {
          display: none ;
        }
      }
    }
  }

  @media screen and (max-width: 560px) {
    &-list {
      grid-template-columns: 100%;
    }

    &-item {
      &::after {
        display: none !important;
      }
      p {
        max-width: 390px;
        font-size: 12px;
      }
    }
  }

  @media screen and (max-width: 390px) {
    &-item {
      padding: 23px 9px 10px;
      &::before {
        right: 0;
        left: 0;
      }
      h3 {
        font-size: 18px;
      }
      p {
        font-size: 11px;
      }
    }
  }
}