.adult-footer {
  background-color: #fff;
  height: 334px;
  display: flex;
  &__item {
    flex: 1;
    border-bottom: 6px solid;

    &-row {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }

    &#adult-footer-blue {
      padding-left: 2.5vw;
      border-color: var(--main-blue);
      li a {
        color: #A0A0A0;
      }
    }

    &#adult-footer-yellow {
      border-color: var(--yellow);
      padding-left: 7.8%;
    }

    &#adult-footer-red {
      border-color: var(--red);
      img {
        position: relative;
        right: 30%;
        height: 100%;
      }
    }

    &#adult-footer-purple {
      padding-left: 0;
      padding-right: 2.5vw;
      border-color: var(--purple);
      .footer-item__content {
        width: 100%;
        align-items: flex-end;
        padding-left: 11.3%;
      }
    }
  }

  @media screen and (min-width: 1680px) {
    height: 450px;
  }

  @media screen and (max-width: 1025px) {
    height: 213px;
  }
}