.language-toggle {
  display: flex;
  gap: 3px;
  .disabled {
    opacity: 0.4;
  }
  button {
    text-transform: inherit;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
  }
}