.main-screen {
  position: absolute;
  top: 0;left: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  z-index: -1;

  &__logo {
    height: 54rem;
  }

  &__language {
    position: absolute;
    bottom: 60rem;
    align-items: flex-start;
    text-transform: uppercase;
    font-size: 20rem;
    font-weight: 700;
    text-transform: uppercase;
    button {
      line-height: 100%;
    }
  }

  &__arrow {
    rotate: 90deg;
    transition: var(--transition);
  }
}