.scroller {
	height: 100vh;
  overflow: hidden;
	position: relative;
	&-content {
		overflow: hidden;
		transition: transform var(--transition);
		transition-duration: 0.7s;
	}
}

.outline {
	position: absolute;
	left: 0;
	right: 0;
	height: 5rem;
	background-color: currentColor;
	&.topline {
		top: 0;
	}
	&.underlines {
		bottom: 0;
		display: flex;
	}
}

.underlines-item {
	flex: 1;
	background-color: currentColor;
}