.scroller {
	height: 100vh;
  padding-bottom: 40px;
   overflow-y: auto;
  overflow-x: hidden;
	position: relative;

  &::-webkit-scrollbar {
    width: 0;
  }

	&-content {
		overflow: hidden;
		transition: transform var(--transition);
		transition-duration: 1s;
	}
  &-shield{
    position: fixed;
    inset: 0;
  }
}

.outline {
	position: fixed;
	left: 0;
	right: 0;
	height: 5rem;
	background-color: currentColor;
	&.topline {
		top: 0;
	}
	&.underlines {
		bottom: 0;
		display: flex;
	}
}

.underlines-item {
	flex: 1;
	background-color: currentColor;
}