.for-kids {
  color: var(--text-gray);
  width: 100vw;
  flex-shrink: 0;
  position: relative;
  &__heading {
    h1{
      color: var(--main-blue);
    }

    .heading-section__image {
      aspect-ratio: 41/14;
    }
  }
  &__projects-wrap {
    overflow: hidden;
    position: relative;
    width: 100%;

    .project-list__row {
      z-index: 2;
      position: relative;
    } 
  }

  &__projects {
    .project-list__item {
      border-radius: 10rem;
    }
  }
}