.menu {
  height: 100vh;
  position: relative;
  h2 {
    text-transform: uppercase;
    line-height: 90%;
    font-weight: 500;
  }

  &-link {
    display: block;
    font-weight: 800;
    font-size: 127px;
    text-transform: uppercase;
    line-height: 85%;
    letter-spacing: -3px;
    position: relative;
    &#menu-about {
      &:hover {
        color: var(--red);
      } 
    }
    &#menu-career {
      &:hover {
        color: var(--blue);
      } 
    }
    &#menu-contact {
      &:hover {
        color: var(--main-blue);
      } 
    }
    &#menu-faq {
      &:hover {
        color: var(--pink);
      } 
    }
    &#menu-ideas {
      &:hover {
        color: var(--green);
      } 
    }
  }
  &-logo {
    height: 23px;
  }

  &-inner {
    padding-top: 30px;
    border-top: 5px solid;
    height: 100%;
    padding-bottom: 43px;
  }

  &-section {
    padding: 0 30px;
  }

  &-underline {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    &__item {
      height: 5px;
      flex: 1;
      background-color: currentColor;
    }
  }

  &-mail {
    a {
      font-size: 75px;
      font-weight: 300;
      line-height: 0.9em;
      border-bottom: 3px solid;
      border-color: currentColor;
      margin-bottom: 28px;
      &:hover {
        border-color: transparent;
      }
    }
    p {
      max-width: 236px;
      color:#AFAFAF;
      font-weight: 700;
      line-height: 120%;
      font-size: 13px;
    }
  }
}

h1.menu-link {
  border-bottom: 1px solid #C8C8C8;
}