@import "@/app/mixins";
.ideas {
  height: calc(calc(100* var(--vh)) - 56rem);
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding-bottom: 0;
  overflow: hidden;

  @include sm{
    height: calc(calc(100* var(--vh)) - 60px);
  }

  &-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    position: relative;
    padding-bottom: 30rem;
  }

  &-mail {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  &-bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    row-gap: 50px;
  }

  &-conditions {
    width: 277rem;
    font-size: 10rem;
    line-height: 1.1em;
    flex-shrink: 0;
    &__title {
      text-transform: uppercase;
      font-size: 17rem;
      margin-bottom: 16rem;
    }
    ol {
      padding-left: 1em;
    }
  }

  @media screen and (max-width: 1199px) {
    &-conditions {
      width: min(277px, 100%);
      font-size: 10px;
      &__title {
        font-size: 17px;
        margin-bottom: 16px;
      }
    }

    &-content {
      padding-bottom: calc(9* var(--vh));
    }
  }

  @media screen and (max-width: 767px) {
    &-bottom {
      flex-direction: column;
    }

    &-conditions {
      align-self: flex-start;
    }

    &-mail {
      margin: 70px 0;
    }
  }
}