@import "@/app/mixins";

.landing-switch-button {
  position: absolute;
  top: calc(50vh - 38rem);

  &__wrap {
    position: relative;
    height: 100vh;
    width: 90rem;
    transition: transform var(--transition);
  }

  &-grup{
    position: fixed;
    height: 200vh;
    width: 180rem;
    display: flex;

    .button-right {
      left: 0;
      .adult-button, .kids-button {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
    }

    .button-left {
      right: 0;

      .adult-button, .kids-button {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
    }
  }
}

.kids-button {
  background-color: var(--text-gray);
  border-radius: 10rem;
  position: relative;
  height: 94.5rem;
  transition: var(--transition);
  overflow-y: clip;
  &__icon {
    height: auto;
    width: 63%;
    position: relative;
    right: -2%;
    &-wrap {
      width: 90rem;
      height: 94.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: inherit;
    }
  }
}

.adult-button {
  border-radius: 35rem;
  overflow: hidden;
  max-height: 90rem;
  transition: var(--transition);
  &__section {
    background-color: currentColor;
    height: 90rem;
    width: 100rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20rem;
    img {
      height: 100%;
    }
  }
}