.landing-switch-button {
  position: absolute;
  z-index: 3;
  top: 0;
}

.kids-button {
  background-color: var(--text-gray);
  border-radius: 10rem 0rem 0rem 10rem;
  position: relative;
  height: 94.5rem;
  transition: var(--transition);
  overflow-y: clip;
  &__icon {
    height: auto;
    width: 63%;
    position: relative;
    right: -2%;
    &-wrap {
      width: 92rem;
      height: 94.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: inherit;
    }
  }
  &__image {
    height: 100%;
    height: auto;
    &-wrap {
      height: 200rem;
      position: absolute;
      top: 94.5rem;
      right: 0;
      left: -35%;
      transition: inherit;
    }
  }

  &:hover {
    height: 220rem;
    .kids-button__image-wrap {
      top: 0;
    } 
    .kids-button__icon-wrap {
      opacity: 0;
    }
  }
}

.adult-button {
  border-radius: 0 35rem 35rem 0;
  overflow: hidden;
  max-height: 95rem;
  transition: var(--transition);
  &__section {
    background-color: currentColor;
    height: 90rem;
    width: 110rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20rem;
    img {
      height: 100%;
    }
    &.blue {
      transition: inherit;
      height: 95rem;
      img {
        max-width: 90%;
      }
    }
    &.yellow {
      padding-bottom: 0;
      align-items: flex-start;
    }
  }

  &:hover {
    max-height: 270rem;
    border-radius: 0 13rem 13rem 0;
    .adult-button__section.blue {
      height: 90rem;
    }
  }
}