@import "@/app/mixins";

.landing-switch-button {
  height: 94.5rem;
  background: green;

  &__content{
    height: 100%;
  }

  &-grup{
    position: fixed;
    top: 0;
    z-index: 2;
    max-width: 92rem;
    height: 100vh;
    display: flex;
    align-items: center;
    background: red;

    &.button-right {
      right: 0 !important;
      .adult-button, .kids-button {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
    }

    &.button-left {
      left: 0 !important;

      .adult-button, .kids-button {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
    }
  }
}

.kids-button {
  background-color: var(--text-gray);
  border-radius: 10rem;
  position: relative;
  height: 94.5rem;
  transition: var(--transition);
  overflow-y: clip;
  &__icon {
    height: auto;
    width: 63%;
    position: relative;
    right: -2%;
    &-wrap {
      width: 90rem;
      height: 94.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: inherit;
    }
  }
}

.adult-button {
  border-radius: 35rem;
  overflow: hidden;
  max-height: 90rem;
  transition: var(--transition);
  &__section {
    background-color: currentColor;
    height: 90rem;
    width: 100rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20rem;
    img {
      height: 100%;
    }
  }
}