.for-kids {
  color: var(--text-gray);
  &__heading {
    margin-bottom: 55px;
    img {
      top: -30px;
    }
  }
  &__projects-wrap {
    position: relative;
  }

  &__projects {
    .project-list__item {
      border-radius: 20px;
    }
  }
}