@import "@/app/mixins";
.close-modal-button{
  height: 19rem;

  @include sm{
    height: 19px;
  }
  &__wrapp{
    flex-shrink: 0;
    position: sticky;
    z-index: 2;
    top: 0;
    padding: 0 35rem 0 28rem;
    height: 56rem;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    @include sm{
      height: 60px;
    }
  }
}