@mixin lg{
  @media (max-width: 1600px) {
    @content
  }
}

@mixin lg-book{
  @media (min-width: 1024px) and (min-height: 80vw){
    @content
  }
}


@mixin md {
  @media screen and (max-width: 1024px) {
    @content;
  }
}

@mixin md-book{
  @media (min-width: 640px) and (min-height: 80vw){
    @content
  }
}

@mixin sm{
  @media (max-width: 640px) {
    @content
  }
}