/* Reset and base styles  */
@import './mixins.scss';

:root {
	--main-blue: #007BAD;
	--yellow: #DBFF00;
	--red: #F12B00;
	--purple: #38044C;
	--blue: #00C2FF;
	--pink: #FF1267;
	--green: #8BE200;

	--text-gray: #1D1D1D;
	--transition:  
			0.7s 
			cubic-bezier(0.16, 1, 0.3, 1);
}

* {
	padding: 0px;
	margin: 0px;
	border: none;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Links */

a {
	display: inline-block;
	text-decoration: none;
	&:hover {
		text-decoration: none;
	}
}

a, a:link, a:visited  {
		color: inherit;
}

a:hover  {
    text-decoration: none;
}

/* Common */

aside, nav, footer, header, section, main {
	display: block;
}

ul, ul li {
	list-style: none;
}

img {
	display: block;
	width: auto;
	max-width: 100%;
	object-fit: cover;
}

address {
  font-style: normal;
}

/* Form */

input, textarea, select {
	font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

input::-ms-clear {
	display: none;
}

button, input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
    outline: none;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

label {
	cursor: pointer;
}

legend {
	display: block;
}

.main-blue {
	color: var(--main-blue);
}

.red {
	color: var(--red);
}

.yellow {
	color: var(--yellow);
}

.purple {
	color: var(--purple);
}

.container {
	margin: 0 auto;
	padding: 0 30px;
	max-width: 1330px;
	@media screen and (max-width: 1199px) {
		padding: 0 20px;
	}
}

.logo-subtitle {
	position: absolute;
	right: 0;
	left: 0;
	display: flex;
	justify-content: center;
}

// footer

footer {
	font-weight: 700;
  font-size: 12px;

	@media screen and (min-width: 1680px) {
		font-size: 19px;
	}

	@media screen and (max-width: 1025px) {
		font-size: 7px;
	}
}

.footer {
	&-link {
		font-size: 30px;
		line-height: 1.16em;
		font-weight: 800;
		text-transform: uppercase;
	}
	
	&-socials {
		a {
			padding-right: 9px;
			margin-right: 7px;
			position: relative;
			text-decoration: underline;
			&:hover {
				text-decoration: none;
			}
			&:after {
				content: '|';
				position: absolute;
				right: 0;
			}
			&:last-child::after {
				display: none;
			}
		}
	}
	
	&-language {
		text-transform: capitalize;
	}
	
	&-item {
		padding: 30px 0;
		height: 100%;
		display: flex;
		row-gap: 13px;
		position: relative;
		&__content {
      display: flex;
      flex-direction: column;
			justify-content: space-between;
			height: 100%;
      gap: 13px;
    }
		ul {
			flex: 1;
			line-height: 1.2em;
		}
		&__image {
			position: absolute;
		}
		&__logo {
			height: 24px;
		}
	}

	@media screen and (min-width: 1680px) {
		&-item {
			&__content {
				row-gap: 19px;
			}
			padding: 50px 0;
			&__logo {
				height: 38px;
			}
		}
		&-link {
			font-size: 48px;
		}
	}

	@media screen and (max-width: 1025px){
		&-item {
			padding: 23px 0;
			&__content {
				row-gap: 10px;
			}
			&__logo {
				height: 15px;
			}
		}
		&-link {
			font-size: 19px;
		}
	}
}