@import '@/app/mixins.scss';
.kids-footer {
  display: flex;
  height: 240rem;
  color: #fff; 

  &__item {
    &-list {
      li {
        a {
          color: #DBFF00; 
        }
      }
    }

    &#kids-footer-blue {
      background-color: #007BAD;
      width: 23.3%;
      a.footer-link:hover {
        color: var(--yellow);
      }

      .footer-item__content {
        padding-left: 30rem;
      }
      .footer-item__image {
        bottom: 23rem; 
        right: 30rem;
        height: 32.5%;
        object-fit: contain;
      }
    }

    &#kids-footer-yellow {
      width: 17.2%;
      background-color: #DBFF00;
      color: var(--text-gray);  
      justify-content: center;

      .footer-item__content{
        max-width: 135rem;
      }

      a.footer-link:hover {
        color: var(--red);
      }
    }

    &#kids-footer-red {
      background-color: #F12B00;
      flex: 1;     
      .footer-item__content {
        padding-left: 8.5%;
      }
      //span {
      //  color: #8CFF33;
      //}
      img {
        position: absolute;
        bottom: 0;
        height: 265rem;
        right: 7.3%;
        z-index: 3;
      }
    }

    &#kids-footer-purple {
      background-color: #38044C;
      justify-content: center;
      width: 20%;

      .footer-item__content{
        min-width: 58%;
      }
      .footer-item__links{
        line-height: 1em;
      }
      a.footer-link{
        text-align: center;
        &:hover {
          color: var(--yellow);
        }
      }
      img {
        height: 100%;
        width: 100%;
        position: relative;
        left: 3%;

        @include lg{
          width: 69%;
        }

        @include sm{
          width: 100%;
        }
      }
    }
  }

  @media screen and (max-width: 640px) {
    flex-wrap: wrap;
    height: auto;
    &__item {
      height: 400rem !important;

      &#kids-footer-red {
        order: 4;
        img {
          height: 475rem;
        }
      }

      &#kids-footer-blue {
        width: calc(100% * 2 / 3);
        .footer-item__image {
          height: 50%;
          bottom: 60rem;
          right: 50rem;
        }
        .footer-item__content {
          padding-left: 60rem;
        }
      }

      &#kids-footer-yellow {
        width: calc(100% / 3);
      }

      &#kids-footer-purple {
        width: calc(100% / 3);
        order: 3;

        img{
          width: auto;
          height: 70%;
        }

        .footer-item__links{
          display: none;
        }
      }
    }
  }
}