.project-list {
  .container {
    width: 975rem;
  }
  &__row {
    gap: 10rem;
    padding-bottom: 10rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    &.large {
      grid-template-columns: 1fr 1fr;
      .project-list__row__item {
        aspect-ratio: 500 / 270;
      }
    }
  }
  &__item {
    aspect-ratio: 320 / 180;
    overflow: hidden;
    position: relative;
    img {
      width: 100%;
      transform: scale(1.03);
      height: auto;
      min-height: 100%;
      max-width: unset;
      object-fit: cover;
      object-position: center;
      transition: var(--transition);
      position: absolute;
      left: -2.5%;
      top: -1%;
    }
    &:hover {
      img {
        transform: scale(1.07);
      }
    }
  }

  @media screen and (max-width: 640px) {
    .container {
      width: 100%;
      padding-bottom: 30rem;
    }
    &__row {
      grid-template-columns: 1fr 1fr;
      .large {
        grid-template-columns: 1fr;
      }
      .project-list__item:nth-child(3) {
        grid-column: 1 / 3;
      }
    }
  }
}