.project-list {
  .container {
    width: 975rem;
  }
  &__row {
    gap: 10rem;
    padding-bottom: 10rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    aspect-ratio: 1000 / 180;
    &.large {
      grid-template-columns: 1fr 1fr;
      aspect-ratio: 1000 / 270;
      
    }
  }
  &__item {
    overflow: hidden;
    
    img {
      width: 105%;
      height: auto;
      min-height: 100%;
      max-width: unset;
      object-fit: cover;
      object-position: center;
      transition: var(--transition);
      position: relative;
      left: -2.5%;
    }
    &:hover {
      img {
        width: 110%;
        left: -5%;
      }
    }
  }

  @media screen and (max-width: 640px) {
    .container {
      width: 100%;
      padding-bottom: 30rem;
    }
  }
}