.career-slider {
  padding: 70rem 30rem 100rem 100rem;
  position: relative;
  min-height: 100vh;

  h2 {
    font-size: 70rem;
    max-width: 50%;
    font-weight: 300;
    line-height: 90%;
    text-transform: uppercase;
  }

  &__options {
    display: flex;
    align-items: center;
    margin-top: 22rem;
    .options-item {
      height: 22rem;
      font-size: 11.5rem;
      padding: 0 10rem;
      margin-right: 3rem;
    }
  }

  &__body {

  }

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40rem;
    margin-top: 50rem;
    &-duties {
      padding-top: 25rem;
      flex: 1;
    }
    &-row {
      display: flex;
      justify-content: space-between;
      margin-bottom: 10rem;
      h3 {
        font-size: 15rem;
        font-weight: 400;
        text-transform: uppercase;
      }
      ul {
        width: 400rem;        
        li {
          list-style: circle;
          display: flex;
          font-size: 10rem;
          line-height: 101%;
        }
      }
    }
  }

  &__back {
    font-weight: 800;
    font-size: 20rem;
    color: #000;
    text-transform: uppercase;
    position: absolute;
    left: 30rem;
    bottom: 30rem;
  }
}