.career-item-form {
  width: 100%;
  max-width: 400rem;
  .input-wrapper {
    border-bottom: 1rem solid #EAEAEA;
    padding: 0 2rem 3rem;
    margin-bottom: 7rem;
    height: 43rem;
    overflow: hidden;
    input {
      font-size: 44rem;
      text-transform: uppercase;
      max-width: 100%;
      display: flex;
      align-items: center;
      background-color: none;
      &::-webkit-input-placeholder {
        color: #EAEAEA;
        font-weight: 300;
      }
    }
  }
}