@import "@/app/mixins";
.career-form {
  flex: 1;
  min-width: 430px;
  &__field {
    position: relative;
    border-bottom: 1rem solid;
    border-color: #EAEAEA;
    padding: 0 2rem;
    margin-bottom: 7rem;
    display: block;

    &--error{
      border-color: var(--red);

      .input-wrap{
        color: var(--red);
      }
    }

    .input-wrap {
      position: absolute;
      overflow: hidden;
      left: 0;
      bottom: 0;
      width: 100%;
    }
    input {
      position: relative;
      bottom: -6rem;
      font-size: 25rem;
      font-weight: 700;
      width: 100%;
      background-color: transparent;
      line-height: 50%;
    }

    p {
      color: #EAEAEA;
      font-size: 7rem;
      text-transform: uppercase;
    }
  }

  &__block-placeholder{
    display: flex;
    pointer-events: none;
    gap: 5rem;
  }

  &__placeholder{
    color: #EAEAEA;
    font-weight: 300;
    font-size: max(43px, 43rem);
    text-transform: uppercase;
    line-height: 1em;
  }

  &__note{
    position: relative;
    top: max(2px, 2rem);
    text-transform: uppercase;
    line-height: 166%;
  }

  &__highlighted{
    color: #999999;
  }

  &__error-text{
    color: var(--red) !important;
    position: absolute;
    right: 0;
    bottom: 3rem;
    z-index: 999;
  }

  &__checkbox {
    position: relative;
    width: max(8rem, 8px);
    aspect-ratio:1/1;
    border: 1rem solid #C8C8C8;

    &:before{
      display: none;
      content: '\2714';
      color: #000;
      position: absolute;
      bottom: 0;
      right: -0.12em;
      line-height: 1em;

      input:checked +&{
        display: block;
      }
    }

    &--error{
      border-color: var(--red);
    }

    &-wrapp{
      display: flex;
      align-items: center;
      font-size: max(8rem, 8px);
      column-gap: max(7rem, 7px);
      input{
        display: none;
      }
    }

    &-text{
      color: #C8C8C8;
      font-weight: 700;

      &--error{
        color: var(--red);
      }

      input:checked ~& {
        text-decoration: line-through;
      }
    }
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 18rem;
  }

  &__submit {
    position: relative;
    width: 138rem;
    height: 34rem;
    background-color: #fff;
    border: 1rem solid #C8C8C8;
    border-radius: 30rem;
    text-transform: uppercase;
    font-size: 9rem;
    color: #A1A1A1;
    font-weight: 800;
    &:hover {
      background-color: #1D1D1D;
      color: #fff;
    }
  }

  @media screen and (max-width: 1199px) {
    &__field {
      border-bottom: 1px solid #EAEAEA;
      padding: 0 2px 3px;
      margin-bottom: 7px;

      .input-wrap {
        height: 35px;
      }

      input {
        font-size: 25px;
      }

      p {
        font-size: 7px;
        font-weight: 700;
      }
    }
    &__submit {
      width: 138px;
      height: 34px;
      border: 1px solid #C8C8C8;
      border-radius: 30px;
      font-size: 9px;
    }
  }

  @media screen and (max-width: 1025px) {
    align-self: center;
  }

  @media screen and (max-width: 660px){
    min-width: unset;

    &__block-placeholder{
      flex-direction: column;
    }

      &__bottom {
      flex-direction: column;
      row-gap: 20px;
    }

    &__note{
      line-height: normal;
    }

    &__submit {
      position: static;
    }
  }
}