.header {
  position: fixed;
  top: 0;
  height: 56rem;
  z-index: 4;
  width: 100%;
  transition: var(--transition);
  transition-property: top;
  transition-duration: 0.4s;
  &-logo {
    width: 95rem;
    height: auto;
  }

  &-burger {
    width: 19rem;
    height: auto;
  }

  &-mail {
    height: 19rem;
  }

  &-close {
    height: 19rem;
  }

  &-icon{
    &-blue svg *{
      fill: var(--main-blue);
      stroke: var(--main-blue);
    }

    &-white svg *{
      fill: #ffffff;
      stroke: #fff;
    }
  }

  .container {
    padding: 0 35rem 0 28rem;
    height: 100%;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &.header-first {
    }
  }
  &.white-header {
    background-color: #fff;
  } 

  &.black-header {
    background-color: var(--text-gray);
  }

  &.hidden-header{
    top: -56rem;
  }

  &.white-header, &.black-header {
    box-shadow: 0px 24px 69.4px 0px rgba(0, 0, 0, 0.15);
  }

  @media screen and (max-width: 640px) {
    height: 60px;
    padding: 0 7px;

    &.hidden-header{
      top: -60px;
    }

    &-logo {
      width: 95px;
    }

    &-mail {
      height: 19px;
      &.menu-mail {
        height: 19px;
      }
    }

    &-burger {
      width: 24px;
    }

    &-close {
      height: 19px;
    }
  }
}