.header {
  position: fixed;
  top: 22px;
  z-index: 5;
  width: 100%;

  &-logo {
    width: 95rem;
    height: auto;
  }

  &-burger {
    width: 27rem;
    height: auto;
  }

  .container {
    padding: 0 35rem 0 28rem;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}