.page-menu {
  &__screen {
    position: absolute;
    overflow: hidden; 
    flex-shrink: 1;
    cursor: pointer;

    > div{
      transform: scale(1);
      transition: var(--transition);
    }

    &:hover > div{
      transform: scale(1.03);
    }

    &.opened {
      cursor: auto;

      &:hover >div{
        transform: scale(1);
      }
    }
  }
}