.kids-footer {
  display: flex;
  height: 240px;
  margin-top: 10px;
  color: #fff; 

  &__item {
    width: 20%;

    &-list {
      font-size: 10px;
      line-height: 1.5em;
      li {
        a {
          color: #DBFF00; 
        }
      }
    }

    &#kids-footer-blue {
      background-color: #007BAD;
      .footer-item__image {
        bottom: 23px;
        right: 30px;
      }
    }

    &#kids-footer-yellow {
      background-color: #DBFF00;
      color: var(--text-gray);
    }

    &#kids-footer-red {
      background-color: #F12B00;
      width: 40%;
      span {
        color: #8CFF33;
      }

      img {
        position: absolute;
        bottom: 0;
        height: 265px;
        right: 7.3%;
      }
    }

    &#kids-footer-purple {
      background-color: #38044C;
      align-items: center;
      text-align: center;
    }
  }

  @media screen and (min-width: 1680px) {
    height: 388px;

    &__item {
      &-list {
        font-size: 16px;
      }

      &#kids-footer-blue {
        .footer-item__image {
          height: 123px;
          bottom: 50px;
        }
      }

      &#kids-footer-red {
        img {
          height: 429px;
        }
      }
    }
  }
}