.landings {
  width: 100%;
  &-container {
    width: 200%;
    display: flex;
    align-items: flex-start;
  }

  &-page {
    position: relative;
    &.hidden {
      max-height: 100vh;
      overflow: hidden;
    }
  }
}