@import "/src/app/mixins";
.kids-screen {
  width: max(100%, calc(50vw + 100vw / 3));
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
  height: 100%;

  @include sm{
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  img {
    object-fit: contain;
    object-position: bottom;
    max-width: unset;
    height: auto;
  }
  &__text-logo {
    color: #fff;
    font-size: min(18rem, calc(2.24 *var(--vh)));
    text-align: center;
    position: relative;
    left: 4%;

    @include md-book{
      font-size: min(18rem, calc(1.12 *var(--vh)));
    }

    @include sm{
      bottom: 0;
    }
  }
  &__picture {
    overflow: hidden;
    font-size: 0;
    &-logo {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: relative;
      height: 100%;

      padding: 0 20px;
      bottom: 3%;

      @include sm{
        padding-top: 1%;
      }
      &-wrap {
        min-width: 86%;
        max-height: 68%;
      }
      img {
        transition: width var(--transition);
        width: 100%;
        max-height: 84%;
        margin-bottom: 3%;

        @include sm{
          max-height: 80%;
          margin-bottom: 2%;
        }
      }
    }


    &#kids-screen-black {
      position: relative;
      overflow: visible;
      grid-row: 1/2;

      @include md-book{
        grid-row: 1/3;
      }

      @include sm{
        grid-row: 1/2;
      }

      .picture-content {
        position: absolute;
        overflow: hidden;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        background-color: #211E1D;
      }
      img {
        position: relative;
        top: 25px;
        left: max(0px, calc(7.5% - 1.178* var(--vh)));
        max-height: 190%;
        width: 100%;
        height: auto;
        transition-duration: 0.8s;

        @include lg-book{
          width: 90%;
        }

        @include sm{
          top: 10px;
        }
      }
    }

    &#kids-screen-picture {
      grid-column: 2 / 4;
      display: flex;
      align-items: center;
      justify-content: center;

      @include sm{
        grid-column: 2/4;
        grid-row: 1/2;
      }

      img {
        object-fit: cover;
        object-position: center;
        min-width: 101%;
        height: 101%;
      }
    }

    &#kids-screen-white {
      background-color: #fff;
      position: relative;
      display: flex;
      justify-content: flex-end;

      @include sm{
        grid-column: 2/2;
        display: none;
      }

      img {
        max-width: 100%;
        height: 117%;
        position: relative;
        left: 11%;
        top: -6%;

        @include sm{
          top: 5%;
          width: 95%;
          height: fit-content;
          max-height: 130%;
          left: 0;
        }
      }
    }

    &#kids-screen-logo {
      background-color: #007BAD;
      grid-row: 2 / 3;
      grid-column: 1/ 4;

      @include md-book{
        grid-column: 2/5;
      }

      @include sm{
        grid-column: 1/4;
        grid-row: 2/3;
      }

    }

    &#kids-screen-green {
      position: relative;
      z-index: 3;
      grid-column: 1/2;
      grid-row: 3/4;
      background-color: #DBFF00;
      display: flex;
      justify-content: center;
      align-items: center;

      @include sm{
        grid-column: 1/2;
        grid-row: 3/4;
      }

      img {
        width: 55%;
        position: relative;
        right: 3%;
        max-height: 98%;
      }
    } 

    &#kids-screen-blue {
      grid-column: 2/3;
      grid-row: 3/span 1;
      background-color: #00C2FF;
      position: relative;
      z-index: 2;
      overflow: visible;

      @include sm{
        grid-column: 2/3;
        grid-row: 3/4;
      }

      img {
        position: absolute;
        bottom: 0;
        right: calc(-6.2* var(--vh));
        max-width: calc(100% + 6.2 *var(--vh));
        //width: 122%;
        height: 111%;
        object-position: bottom right;

        @include md-book{
          max-height: 100%;
          right: -3%;
          max-width: 103%;
        }

        @include sm{
          max-height: 117%;
          width: 100%;
          max-width: unset;
          right: -3%;
        }
      }
    }

    &#kids-screen-red {
      background-color: #F12B00;
      grid-column: 3 / 4;
      padding: 10%;
      padding-right: 0;
      position: relative;
      z-index: 3;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;

      @include md-book{
        grid-column: 3 / 5;
        padding: 6%;
        padding-right: 0;
      }

      @include sm{
        grid-column: 3/4;
        grid-row: 3/4;
        padding: 10%;
        padding-right: 0;
      }

      .red-picture-logo {
        width: 44%;
        max-height: 40%;
        object-position: left top;

        @include md{
          width: 55%;
        }

        @include md-book{
          width: 30%;
          max-height: 60%;
        }

        @include sm{
          max-height: 30%;
        }
      }

      .red-picture-car {
        align-self: flex-end;
        max-height: 66%;
        max-width: 72%;
        min-width: 55%;
        object-position: right;
        position: absolute;
        bottom: 2%;
        transition-duration: 0.6s;

        @include md-book{
          max-width: 44%;
          max-height: 90%;
        }

        @include sm{
          max-width: unset;
          width: 74%;
          min-width: 66%;
          height: auto;
          max-height: 54%;
          top: -10%;
        }
      }
    }

    &#kids-screen-purple {
      overflow: visible;
      background: linear-gradient(180deg, #FF1267 0% 33.33% , #38044C 33.33% 100%);
      grid-row: 1 / 4;
      grid-column: 5 / 6;
      position: relative;
      z-index: 4;
      display: flex;
      justify-content: center;
      align-items: flex-end;

      @include sm{
        background: #38044C;
        grid-column: 2/2;
        grid-row: 5/5;
        display: none;
        justify-content: flex-end;
        align-items: start;
      }

      img {
        height: auto;
        max-height: 95%;
        width: 100%;
        flex-shrink: 0;
        transition-duration: 0.6s;

        @include sm{
          position: absolute;
          height: 238%;
          max-height: 238%;
          top: -28%;
        }
      }
    }
  }

  &.opened {
    @include md-book{
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(3, 1fr);
    }
    @include sm{
      grid-template-columns: repeat(2, 50%);
      grid-template-rows: repeat(5, 1fr);
    }
    .kids-screen__text-logo {
      @include md-book{
        font-size: 23rem;
      }
    }
    #kids-screen-black{
      grid-row: 1/3;

      @include md-book{
        grid-row: 1/2;
      }

      img{
        top: 50px;
        left: 0;

        @include sm{
          top: 5px;
          max-height: 132%;
        }
        @include md-book{
          top: 5px;
          right: 0;
          max-height: 167%;
        }
      }
    }

    #kids-screen-picture{

      @include md-book{
        grid-column: 3/4;
      }

      @include sm{
        grid-column: 2/3;
        grid-row: 2/3;
      }
    }

    #kids-screen-white{
      @include md-book{
        justify-content: center;
        grid-column: 2/3;
        grid-row: 1/2;
      }

      @include sm{
        grid-column: 2/3;
        display: flex;
      }

      img{
        @include md-book{
          top: 5%;
          left: 0;
          height: 105%;
        }
      }
    }

    #kids-screen-logo {
      grid-column: 2/5;

      @include md-book{
        grid-column: 1/4;
      }

      @include sm{
        grid-column: 1/3;
        grid-row: 3/4;
      }
    }

    #kids-screen-green{
      @include sm{
        grid-column: 2/3;
        grid-row: 4/5;
        padding-bottom: 7%;
      }
    }

    .kids-screen__picture {
      &#kids-screen-red {
        grid-column: 3 / 5;
        padding: 6%;
        padding-right: 0;

        @include md-book{
          grid-column: 3/4;
        }

        @include sm{
          grid-column: 1/2;
          grid-row: 5/6;
        }

        .red-picture-logo{
          width: 26%;
          max-height: 80%;

          @include md-book{
            width: 44%;
          }

          @include sm{
            width: 35%;
          }
        }

        .red-picture-car {
          width: 48%;
          max-height: 90%;

          @include md-book{
            max-width: 74%;
            height: 58%;
            object-position: bottom;
          }

          @include sm{
            max-height: 60%;
            max-width: unset;
          }
        }
      }
    }

    #kids-screen-blue{
      @include sm{
        grid-column: 1/2;
        grid-row: 4/5;
      }

    }

    #kids-screen-purple{
      @include md-book{
        display: none;
      }

      @include sm{
        display: block;
        grid-column: 2/3;
        grid-row: 5/6;
      }

    }
  }
}