.kids-screen {
  width: max(100%, calc(50vw + 100vw / 3));
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
  height: 100%;
  img {
    object-fit: contain;
    object-position: bottom;
    max-width: unset;
    height: auto;
  }
  &__text-logo {
    color: #fff;
    font-size: 10px;
    bottom: -30px;
  }
  &__picture {
    overflow: hidden;
    font-size: 0;
    &-logo {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: relative;
      height: 100%;
      padding: 0 20px;
      bottom: 5%;
      &-wrap {
        position: relative;
      }
      img {
        transition: width var(--transition);
        width: min(40.5vw);
        height: auto;
      }
    }

    &#kids-screen-black {
      position: relative;
      overflow: visible;
      .picture-content {
        position: absolute;
        overflow: hidden;
        width: 100%;
        display: flex;
        justify-content: center;
        background-color: #211E1D;
      }
      img {
        width: 20vw;
        height: auto; 
        margin-top: auto;
      }
    }

    &#kids-screen-picture {
      grid-column: 2 / 4;
      display: flex;
      justify-content: center;
      img {
        object-fit: cover;
        min-width: 101%;
        height: 101%;
      }
    }

    &#kids-screen-white {
      background-color: #fff;
      position: relative;
      img {
        position: absolute;
        height: 100%;
        right: -30px;
        bottom: 0;
      }
    }

    &#kids-screen-logo {
      background-color: #007BAD;
      grid-row: 2 / 3;
      grid-column: 1 / 5;
    }

    &#kids-screen-green {
      background-color: #DBFF00;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 20px 0;
      img {
        width: 55%;
        position: relative;
        right: 3%;
        max-height: 100%;
      }
    } 

    &#kids-screen-blue {
      background-color: #00C2FF;
      position: relative;
      overflow: visible;
      img {
        position: absolute;
        bottom: 0;
        right: -10%;
        width: 20vw;
        height: auto;
        max-height: calc(100% + 25px);
        object-position: bottom right;
      }
    }

    &#kids-screen-red {
      background-color: #F12B00;
      grid-column: 3 / 5;
      padding: 6%;
      position: relative;
      .red-picture-logo {
        height: auto;
        width: 25%;
      }
      .red-picture-car-small {
        position: absolute;
        right: 50%;
        bottom: 15px;
        height: 46.7%;
        transition: right 0.1s;
        transition-delay: 0.05s;
      }
      .red-picture-car {
        position: absolute;
        right: -100%;
        transition: right 0.5s ease-out;
        bottom: 12px;
        height: 69.6%;
      }
    }

    &#kids-screen-purple {
      background: linear-gradient(180deg, #FF1267 0% 33.33% , #38044C 33.33% 100%);
      grid-row: 1 / 4;
      grid-column: 5 / 6;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      img {
        height: auto;
        max-height: 95%;
        width: 20vw;
        position: relative;
        flex-shrink: 0;
      }
    }
  }

  &.opened {
    .kids-screen__picture-logo-wrap {
      img {
        width: 49vw;
      }
    }
    .kids-screen__text-logo {
      font-size: 13px;
    }
    .kids-screen__picture {
      &#kids-screen-red {
        .red-picture-car-small {
          right: 100%;
        }
        .red-picture-car {
          right: 0%;
          transition-delay: 0.1s;
        }
      }
    }
  }

  @media screen and (min-width: 1680px) {
    &__text-logo {
      font-size: 14px;
    }
    &__picture {
      &#kids-screen-blue {
        img {
          right: 0;
        }
      }
    }
    &.opened {
      .kids-screen {
        &__text-logo {
          font-size: 19px;
        }   
      }
    }
  }

  @media screen and (max-width: 1024px) {
    width: 100%;
  }
}