.section-wrap {
  overflow: hidden;
  min-height: calc(100vh + 80px);
  padding-top: 56rem;
  
  &[data-name="empty-place"]{
    min-height: 5px;
    height: 5px;
    padding-top: 0;
    overflow: hidden;
  }

  &__content {
    min-height: 100%;
    position: relative;
  }
}