.section-wrap {
  overflow: hidden;
  min-height: calc(100vh + 80px);
  padding-top: 56rem;
  left: 0;
  width: 100vw;
  transition: 0.5s;

  &__content {
    min-height: 100%;
    position: relative;
  }

  &[data-name='empty-place']{
    min-height: 65px;
    height: 65px;
    padding-top: 0;
    overflow: hidden;
  }

  &[data-name='menu']{
    padding-bottom: 20px;
  }
}