.section-wrap {
  overflow: hidden;
  min-height: calc(100vh + 80px);
  padding-top: 56rem;

  &__content {
    min-height: 100%;
    position: relative;
  }

  &[data-name='empty-place']{
    min-height: 65px;
    height: 65px;
    padding-top: 0;
    overflow: hidden;
  }
}