.for-adult {
  background-color: var(--text-gray);
  width: 100vw;
  flex-shrink: 0;
  position: relative;
  &__heading {
    h1 {
      color: #fff;
      position: relative;
      z-index: 2;
      white-space: nowrap;
      grid-row: 1 / 2;
    }

    p{
      padding-top: 6rem;
      color: #D4D4D4;
    }
  }
}