@import "/src/app/mixins";

.heading-section {
  padding-top: 63rem;
  margin-bottom: 32rem;

  .container {
    display: flex;
    justify-content: space-between;
    column-gap: 39rem;
    row-gap: 30rem;

    @include sm{
      flex-direction: column;
    }
  }

  h1 {
    font-size: 30rem;
    text-transform: uppercase;
    margin-bottom: 32rem;

    @include lg{
      font-size: 32rem;
    }

    @include sm{
      font-size: 70rem;
    }
  }

  p {
    font-size: 10rem;
    line-height: 1.1em;

    @include lg{
      font-size: 12rem;
    }

    @include sm{
      font-size: 34rem;
    }
  }

  img {
    object-fit: contain;
    position: static;
    width: 50%;
    height: auto;

    @include sm{
      width: 100%;
    }
  }

  &__text {
    width: 401rem;
    flex-shrink: 0;

    @include sm{
      width: 100%;
    }
  }
}