@import "/src/app/mixins";

.kids-wallpapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  display: flex;
  justify-content: space-between;

  @include sm{
    display: none;
  }

  &__col{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    @include lg{
      align-items: flex-end;
      max-width: calc((100vw - 976rem) / 2);
    }

    &--2{
      align-items: flex-end;

      @include lg{
        align-items: flex-start;
      }
    }
  }

  &__item{
    width: fit-content;

    img{
      max-width: 150%;
    }
  }

  &__boy{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 366rem;
  }
}