.kids-wallpapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &__row {
    width: 100%;
    position: relative;
    img {
      object-fit: contain;
      position: absolute;
      width: auto;
      top: 0;
      max-width: 20%;
    }
    &:nth-child(2n + 1) {
      img {
        left: 0;
      }
    }
    &:nth-child(2n) {
      img {
        right: 0;
      }
    }
    &:nth-child(4n) {
      img {
        right: 50rem;
      }
    }
    &:last-child {
      height: 300rem;
      img {
        height: 100%;
        left: 0 !important;
        bottom: 0;
        top: auto;
      }
    }
    &.pre-last {
      img {
        right: 0 !important;
        top: 20rem ;
      }
    }
  }

  @media screen and (min-width: 1680px) {
    &__row {
    }
  }

  @media screen and (max-width: 640px) {
    display: none;
  }
}