@import "@/app/mixins";

.adult-screen {
  display: block;
  height: 100%;
  background-color: #000;
  display: flex;
  align-items: center;
  &__logo-wrap {
    width: 100%;
    position: relative;
    bottom: 2%;
    display: flex;
    justify-content: center;
  }

  &__text-logo {
    font-size: min(18rem, 2.24vh);
    color: #fff;

    @include md-book{
      font-size: 25rem;
    }

    @include sm{
      font-size: 25rem;
    }

    &-wrap {
      left: 4%;
      top: 72%;
    }
  }

  &__big-logo {
    width: 38.75vw;
    height: auto;
    max-height: 58vh;

    @include md-book{
      width: 72.2vw;
    }

    @include sm{
      width: 77.7vw;
    }

    svg {
      width: 100%;
      height: auto;
      path {
        fill: #fff;
      }
    }
  }

  &__jap-logo {
    width: 14.2%;
    height: auto;
    &-wrap {
      max-height: 10.7%;
      bottom: 66.65%;
    }
  }

  &__bandit {
    position: absolute;
    bottom: 0;
    height: 57%;

    @include sm{
      height: 50%;
    }
  }

  &.opened {
    .adult-screen__jap-logo {
      width: 10.25%;
    }
    .adult-screen__big-logo {
      width: 100%;
      max-height: unset;
    }
    .adult-screen__text-logo {
      font-size: 20rem;

      @include sm{
        font-size: 10px;
      }

      &-wrap{
        top: 69%;
      }
    }
  } 

}