.adult-screen {
  display: block;
  height: 100%;
  background-color: #000;
  display: flex;
  align-items: center;
  &__logo-wrap {
    width: 100%;
    position: relative;
    bottom: 2%;
    display: flex;
    justify-content: center;
  }

  &__text-logo {
    font-size: 14rem;
    color: #fff;
    &-wrap {
      top: 69%;
    }
  }

  &__big-logo {
    width: 38.75vw;
    height: auto;
    svg {
      width: 100%;
      height: auto;
      path {
        fill: #fff;
      }
    }
  }

  &__jap-logo {
    width: 14.2%;
    height: auto;
    &-wrap {
      max-height: 10.7%;
      bottom: 66.65%;
    }
  }

  &__bandit {
    position: absolute;
    bottom: 0;
    height: 57%;
  }

  &.opened {
    .adult-screen__jap-logo {
      width: 10.25%;
    }
    .adult-screen__big-logo {
      width: 100%;
    }
    .adult-screen__text-logo {
      font-size: 20px;
    }
  } 

  @media screen and (min-width: 1680px) {
    &__text-logo {
      font-size: 16px;
    }

    &.opened {
      .adult-screen__text-logo {
        font-size: 31px;
      }
    }
  }
}