.outline {
  position: absolute;
  left: 0;
  width: 100vw;
  height: 5rem;
  z-index: 2;
  &.underlines {
    bottom: 0;
    display: flex;
  }
}

.underlines-item {
   flex: 1;
   background-color: currentColor;
 }